h1
{
    text-align: center;
}
#userNum
{
    margin: auto;

    display: block;

    width: 3%;
    text-align: center;

    background-color: yellow;
}

body
{
    background-color: rgba(182, 5, 195, 0.865);
}
#sayNum
{
    text-align: center;
    background-color: red;
}
