h1
{
    text-align: center;
}
#userNum
{
    margin: auto;

    display: block;

    width: 4%;
    text-align: center;

    background-color: yellow;
}

body
{
    background-color: rgba(203, 203, 203, 0.865);
}
#sayNum
{
    text-align: center;
    background-color: red;
}

.centered
{
    margin: auto;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.centered #userNum
{
   margin-bottom: 20px;
}

*
{
    font-family: sans-serif;
}
span{
    display: inline-block;
    width: 3%;
    height: 3%;
    background-color: rgb(255, 255, 255);
    text-align: center;

}